<%= simple_form_for @business, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :nick_name %>
  <%= f.input :mobile %>
  <%= f.input :qq %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary', :value => t('businesses.create') %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                businesses_path, :class => 'btn' %>
  </div>
<% end %>
