<%= simple_form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, :label => t("products.name") %>
  <%= f.input :foreign_product_id, :label => t("products.foreign_product_id") %>
  <%= f.input :busi_type, :label => t("products.busi_type") %>
  <%= f.input :platform, :label => t("products.platform") %>
  <%= f.input :selled_price, :label => t("products.selled_price") %>
  <%= f.input :settle_price, :label => t("products.settle_price") %>
  <%= f.input :is_prepay, :label => t("products.is_prepay") %>
  <%= f.input :prepay_percentage, :label => t("products.prepay_percentage") %>
  <%= f.input :begin_date, :as => :string, :label => t("products.begin_date"), :input_html => {:class => 'datepicker'}%>
  <%= f.input :end_date, :as => :string, :label => t("products.end_date"), :input_html => {:class => 'datepicker'} %>
  <%= f.input :selled_nums, :label => t("products.selled_nums") %>
  <%= content_tag :div, :class => "control-group required" do %>
    <%= label_tag :partner_name, t("products.partner_id"), :class => "control-label required" %>
    <%= content_tag :div, :class => "controls" do %>
      <%= text_field_tag :partner_name, get_partner_name(@product), :placeholder => "输入商户名,自动补全", :class => "typeahead", "data-provide" => "typeahead" %>
    <% end %>
  <% end %>
  <%= f.hidden_field :partner_id %>
  <%= hidden_field_tag :partner_collection, partner_collection(@partners).to_json %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary', :value => t("products.create_product") %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn' %>
  </div>
<% end %>
