<% if !params[:product_name].blank? %>
    <div class="stat_wrapper product_box">
        <div id="product_info" class="pull-left span4">
            <dl class="dl-horizontal">
              <dt><strong><%= t('products.name') %>:</strong></dt>
              <dd><%= @current_product.name %></dd>
              <dt><strong><%= t('products.busi_type') %>:</strong></dt>
              <dd><%= @current_product.busi_type %></dd>
              <dt><strong><%= t('products.platform') %>:</strong></dt>
              <dd><%= @current_product.platform %></dd>
              <dt><strong><%= t('products.selled_price') %>:</strong></dt>
              <dd><%= @current_product.selled_price %></dd>
              <dt><strong><%= t('products.settle_price') %>:</strong></dt>
              <dd><%= @current_product.settle_price %></dd>
              <dt><strong><%= t('products.is_prepay') %>:</strong></dt>
              <dd><%= @current_product.is_prepay %></dd>
              <dt><strong><%= t('products.prepay_percentage') %>:</strong></dt>
              <dd><%= @current_product.prepay_percentage %></dd>
              <dt><strong><%= t('products.begin_date') %>:</strong></dt>
              <dd><%= @current_product.begin_date %></dd>
              <dt><strong><%= t('products.end_date') %>:</strong></dt>
              <dd><%= @current_product.end_date %></dd>
              <dt><strong><%= t('products.selled_nums') %>:</strong></dt>
              <dd><%= @current_product.selled_nums %></dd>
            </dl>
        </div>

        <%= simple_form_for @group_buy, :html => {:class => 'form_horizontal pull-right span4'} do |f| %>
            <fieldset>
                <% if !params[:product_name].blank? %>
                    <% if is_prepay_settlement?(params[:product_name]) %>
                        <%= content_tag :div, "点击新增一条预存结算记录" %>
                        <%= hidden_field_tag 'is_prepay', true %>
                    <% else %> 
                        <%= f.input :settle_nums, :label => "结算份数"%>
                        <%= f.input :refund_nums, :label => "退款份数"%>
                        <%= f.input :dsr, :label => "DSR评分"%>
                    <% end %>
                    <% if params[:id].blank? %>
                      <%= f.submit :value => "新增", :id => "btn_add_group",:class => "btn btn-primary" %>
                    <% else %>
                      <div class='action_bar'>
                          <%= f.submit :value => "修改", :id => "btn_update_group", :class => "btn btn-primary" %>
                          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      group_buy_path(@group_buy),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-primary btn-danger' %>
                      </div>
                    <% end %>
                    <%= hidden_field_tag 'product_name', params[:product_name] %>
                    <%= hidden_field_tag 'stat_date', params[:stat_date] %>
                <% end %>
            </fieldset>
        <% end %>
    </div>
<% end %>