<% if !@current_product.blank? %>
    <div class="stat_wrapper product_box">
        <div id="product_info" class="pull-left span4">
            <dl class="dl-horizontal">
              <dt><strong><%= t('products.name') %>:</strong></dt>
              <dd><%= @current_product.name %></dd>
              <dt><strong><%= t('products.busi_type') %>:</strong></dt>
              <dd><%= @current_product.busi_type %></dd>
              <dt><strong><%= t('products.platform') %>:</strong></dt>
              <dd><%= @current_product.platform %></dd>
              <dt><strong><%= t('products.selled_price') %>:</strong></dt>
              <dd><%= @current_product.selled_price %></dd>
              <dt><strong><%= t('products.settle_price') %>:</strong></dt>
              <dd><%= @current_product.settle_price %></dd>
              <dt><strong><%= t('products.is_prepay') %>:</strong></dt>
              <dd><%= @current_product.is_prepay %></dd>
              <dt><strong><%= t('products.prepay_percentage') %>:</strong></dt>
              <dd><%= @current_product.prepay_percentage %></dd>
              <dt><strong><%= t('products.begin_date') %>:</strong></dt>
              <dd><%= @current_product.begin_date %></dd>
              <dt><strong><%= t('products.end_date') %>:</strong></dt>
              <dd><%= @current_product.end_date %></dd>
              <dt><strong><%= t('products.selled_nums') %>:</strong></dt>
              <dd><%= @current_product.selled_nums %></dd>
            </dl>
        </div>
        <% unless @stat_date.blank? %>
          <%= render :partial => 'form', :locals => { :group_buy => @group_buy, :product => @current_product, :stat_date => @stat_date } %>
        <% end %>
    </div>
<% end %>