<form action="#" class="form_inline" id="stat_action_bar">
    <input type="text" id="stat_date" name="stat_date" placeholder="统计年月,格式：yyyy-mm">
    <select name="product_list" id="product_list"></select>
    <button id="search_stat_result" class="btn btn-primary">查询</button>
</form>

<table id="group_buy_record_table" class="table table-striper table-bordered">
    <%= content_tag_for(:tr, @group_buys) do |group_buy| %>
        <td></td>
        <td><%= group_buy.product_name %></td>
        <td><%= group_buy.settle_type %></td>
        <td><%= group_buy.settle_nums %></td>
        <td><%= group_buy.settle_money %></td>
        <td><%= group_buy.refund_nums %></td>
        <td><%= group_buy.updated_at %></td>
        <td><%= group_buy.state %></td>
    <% end %>
</table>
