<!DOCTYPE html>
<html>
<head>
  <title>LqFinance</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= controller_stylesheet_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render "common/app_nav" %>
    <%= notice_message %>
    <%= yield %>

    <%= environment_javascript_include_tag %>
    <%= javascript_include_tag "application" %>
    <%= controller_javascript_include_tag %>
</body>
</html>
